@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fq36kt');
  src:  url('fonts/icomoon.eot?fq36kt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fq36kt') format('truetype'),
    url('fonts/icomoon.woff?fq36kt') format('woff'),
    url('fonts/icomoon.svg?fq36kt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram-square-brands:before {
  content: "\e900";
}
.icon-linkedin-brands:before {
  content: "\e901";
}
.icon-facebook-f-brands:before {
  content: "\e902";
}
.icon-twitter-brands:before {
  content: "\e903";
}
