* {
	color: rgba(255, 255, 255, 0.8);
	font-family: Roboto;
	font-size: 14px;
}
.page {
	max-width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 60px 0;
}
h1 {
	margin: 0;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
.conteiner {
	max-width: 1140px;
	min-height: 100vh;
	margin: 0 auto;
}
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	max-height: 80vh;
}
.slick-slider {
	padding-top: 30px;
}
.slick-slide:focus {
	outline: none;
}
.slick-btn {
	padding: 10px 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.9;
}
.slick-btn:hover {
	cursor: pointer;
}
.slick-prev {
	left: 0;
	z-index: 1;
	border-radius: 5px 30px 30px 5px;
}
.slick-next {
	border-radius: 30px 5px 5px 30px;
	right: 0;
}
.slick-dots {
	padding-top: 20px;
	list-style: none;
	justify-content: center;
	display: flex;
	margin: 0;
}
.slick-dots > li > button {
	opacity: 0.9;
	margin: 5px;
	border-radius: 50%;
	border: none;
	padding: 5px;
	font-size: 0;
	cursor: pointer;
}
.slick-active {
	opacity: 0.5;
}
.wrapper {
	width: 50%;
}
